.orig-text h6 {
    font-size: 80%;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

div.orig-text {
    font-size: 90%;
    background-color: #F0F0F0;
    border-left: 5px solid #CCCCCC;
    margin: 0px;
    padding: 6px 10px;
}

.orig-text p {
    margin: 6px 0px;
}

pre {
    background-color: #FFFFFF;
}

pre span.org-builtin {
    color       : #006FE0;
    font-weight : bold;
}

pre span.org-string {
    color: #008000;
}

pre span.org-keyword {
    color: #0000FF;
}

pre span.org-variable-name {
    color: #BA36A5;
}

pre span.org-function-name,
pre span.org-nxml-element-local-name {
    color: #006699;
}


<span class="">dependency</span>
pre span.org-type {
    color: #6434A3;
}

pre span.org-preprocessor {
    color       : #808080;
    font-weight : bold;
}

pre span.org-constant {
    color: #D0372D;
}

pre span.org-comment-delimiter {
    color: #8D8D84;
}

pre span.org-comment {
    color      : #8D8D84;
    font-style : italic
}

pre span.org-sh-quoted-exec {
    color: #FF1493;
}
